@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 
My color palette:
primary color: #9C27B0
light primary color: #E1BEE7
dark primary color: #7B1FA2
accent color: #00BCD4
primary text: #212121
secondary text: #757575
divider color: #BDBDBD
 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(233, 230, 230);
}

ul {
  background-color: #ffffff;
}

ul li {
  list-style: none;
}

.btn {
  text-transform: uppercase;
  background-color: #5ecedd;
  border: none;
  color: black;
}

.channel-btn img {
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
}

.channel-btn {
  text-transform: uppercase;
  background-color: #ffffff;
  color: #212121;
  border: none;
  font-size: 13px;
  height: 72px;
  width: 33%;
}

.selected {
  border-bottom: 4px solid #9C27B0;
}

.metadata {
  font-size: medium;
}

.metadata a {
  text-transform: uppercase;
  color: #212121;
}

.rmn-time {
  font-size: larger;
}

.app-bar {
  background-color: #9c27b0;
  color: #ffffff;
}

.chat-txt {
  background-color: white;
  padding: 16px;
}

.channel-btn-container {
  background-color: #ffffff;
}

.chat-container {
  width: 80%;
  margin-bottom: 8px;
  margin-left: 2.5%;
}

.my-msg {
  width: 80%;
  margin-bottom: 8px;
  margin-left: 17.5%;
}

#title-name {
  text-transform: uppercase;
}

.selected-list-item {
  color: #9C27B0;
  border-left: 4px solid #9C27B0;
}

.channel-item {
  padding: 16px;
  font-size: 16px;
  /* box-sizing: content-box;
  height: 32px; */
  border-bottom: 1px solid rgb(233, 230, 230);
}

.channel-item img {
  padding-left: 4px;
  vertical-align: middle;
}